.city-list {
	list-style-type: none;
	padding: 0;
}
.city-list-item {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
   	flex-direction: row;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	font-size: 1.8em;
	margin-bottom: 10px;
}
.city-list-item > div {
	-webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 5px;
}
.city-list-item-name {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	font-weight: bold;
}
.city-list-item-date {
	font-weight: bold;
}
.city-list-item-temp {
	display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.city-list-item-wind-deg {
	position: relative;
  	padding: 10px;
  	height: 40px;
  	width: 40px;
}
.city-list-item-wind-deg .wind-arrow {
	width: 0; 
  	height: 0; 
  	border-left: 3px solid transparent;
  	border-right: 3px solid transparent;
  	border-bottom: 40px solid black;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.city-list-item-wind-speed {
	width: 80px;
}
.city-list-item-opt .delete-button:hover {
	background: #ed4444;
    color: #fff;
    border-color: #fff;
}