<div [ngSwitch]="weather.icon">
	<img *ngSwitchCase="'01d'" src="http://openweathermap.org/img/w/01d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'02d'" src="http://openweathermap.org/img/w/02d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'03d'" src="http://openweathermap.org/img/w/03d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'04d'" src="http://openweathermap.org/img/w/04d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'09d'" src="http://openweathermap.org/img/w/09d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'10d'" src="http://openweathermap.org/img/w/10d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'11d'" src="http://openweathermap.org/img/w/11d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'13d'" src="http://openweathermap.org/img/w/13d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'50d'" src="http://openweathermap.org/img/w/50d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'01n'" src="http://openweathermap.org/img/w/01d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'02n'" src="http://openweathermap.org/img/w/02d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'03n'" src="http://openweathermap.org/img/w/03d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'04n'" src="http://openweathermap.org/img/w/04d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'09n'" src="http://openweathermap.org/img/w/09d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'10n'" src="http://openweathermap.org/img/w/10d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'11n'" src="http://openweathermap.org/img/w/11d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'13n'" src="http://openweathermap.org/img/w/13d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
	<img *ngSwitchCase="'50n'" src="http://openweathermap.org/img/w/50d.png" alt="{{weather.description | sgGetData: 'description'}}"/>
</div>