<form [formGroup]="addCityForm" (ngSubmit)="addCity(addCityForm.value, addCityForm.valid)" class="addcity-form">
	<div class="input-wrapper">
		<label>City Name</label>
		<input type="text" formControlName="name">
	</div>
	<div formGroupName="main">
		<div class="input-wrapper">
			<label>Min temp (in C):</label>
			<input type="number" formControlName="temp_min">
		</div>
		<div class="input-wrapper">
			<label>Avg temp (in C):</label>
			<input type="number" formControlName="temp">
		</div>
		<div class="input-wrapper">
			<label>Max temp (in C):</label>
			<input type="number" formControlName="temp_max">
		</div>
	</div>
    <button type="submit" class="submit-button" [disabled]="!addCityForm.valid">Submit</button>
</form>