<form #addCityForm="ngForm" (ngSubmit)="onSubmit(addCityForm.value)" class="addcity-form">
	<div>
		<input type="text" placeholder="City name" required [(ngModel)]="city.name">
	</div>
	<div>
		<input type="number" placeholder="Min. temperature" required [(ngModel)]="city.mintemp">
	</div>
	<div>
		<input type="number" placeholder="Avg. temperature" required [(ngModel)]="city.avgtemp">
	</div>
	<div>
		<input type="number" placeholder="Max. temperature" required [(ngModel)]="city.maxtemp">
	</div>
	<div>
		<label>Add to favorite: </label>
		<input type="checkbox" placeholder="Min. temperature">
	</div>
	<input type="submit" value="Add city">
</form>