<!-- <form #addCityForm="ngForm" (ngSubmit)="onSubmit(addCityForm.value)" class="addcity-form">
	<div>
		<input type="text" placeholder="City name" required [(ngModel)]="city.name">
	</div>
	<div>
		<input type="number" placeholder="Min. temperature" required [(ngModel)]="city.mintemp">
	</div>
	<div>
		<input type="number" placeholder="Avg. temperature" required [(ngModel)]="city.avgtemp">
	</div>
	<div>
		<input type="number" placeholder="Max. temperature" required [(ngModel)]="city.maxtemp">
	</div>
	<div>
		<label>Add to favorite: </label>
		<input type="checkbox" placeholder="Min. temperature">
	</div>
	<input type="submit" value="Add city">
</form> -->

<form [formGroup]="addCityForm" novalidate (ngSubmit)="addCity(addCityForm.value)" class="addcity-form">
	<div>
		<label>City Name</label>
		<input type="text" formControlName="name">
	</div>
	<div formGroupName="main">
		<div>
			<label>Min temp</label>
			<input type="number" formControlName="temp_min">
		</div>
		<div>
			<label>Avg temp</label>
			<input type="number" formControlName="temp">
		</div>
		<div>
			<label>Max temp</label>
			<input type="number" formControlName="temp_max">
		</div>
	</div>
    <button type="submit">Submit</button>
</form>