<li class='city-list-item'>
	<div class='city-list-item-fav'><input type='checkbox' [attr.checked]="cityDetails.fav" (change)="favCheckboxChange($event, cityDetails.id)">
	</div>
	<div class='city-list-item-name'>{{cityDetails.name | uppercase}}</div>
	<div class="city-list-item-date">Last update: {{cityDetails.dt * 1000 | date}}</div>
	<div class='city-list-item-temp'>
		<div class='city-list-item-temp-min'
			*hideEqualWeather='cityDetails.main'>Min.temp: {{cityDetails.main.temp_min}}</div>
		<div class='city-list-item-temp-avg' [tempColor]='cityDetails.main.temp'>Temp: {{cityDetails.main.temp}}</div>
		<div class='city-list-item-temp-max'
			*hideEqualWeather='cityDetails.main'>Max.temp: {{cityDetails.main.temp_max}}</div>
	</div>
	<div class="city-list-item-wind-deg" >
		<div class="wind-arrow" [windDirection]='cityDetails.wind.deg'></div>
	</div>
	<div class="city-list-item-wind-speed" >
		{{cityDetails.wind.speed}} km/h
	</div>
	<div class="city-list-item-icon">
		<weather-icon [weather]="cityDetails.weather[0]"></weather-icon>
	</div>
	<div class="city-list-item-opt">
		<button (click)="getIDtoDeleteCity(cityDetails.id)" class="delete-button">Delete</button>
	</div>
</li>